
<link href="/stylesheets/main-header.css" rel="stylesheet">
<link href="/stylesheets/agreement.css" rel="stylesheet">

<% provide(:title, 'User Agreement') %>
<div id="header" class="global-header responsive-header nav-v5-2-header responsive-1" role="banner">
    <div id="top-header">
      <div class="wrapper">
        <h2 class="logo-container">
          <a  href="#" class="logo" id="li-logo">LinkedIn Home</a>
        </h2>
  
        <ul class="nav main-nav guest-nav" role="navigation">
          <li class="nav-item">
              <% if user_signed_in? %>  
                      <a href="#" class="nav-link"><%= current_user.userfname%></a>
                  <% else %>  
                      <%= link_to "What's LinkedIn?", '/home/whatislinkedin' , :class=>"nav-link" %>
                    <% end %>
                </li>
          
          <li class="nav-item">
              <% if user_signed_in? %>  
                    <%= link_to "Edit Profile", '/users/edit'  , :class=>"nav-link"%> 
                  <% else %>  
                    <%= link_to "Join Today", '/register'  , :class=>"nav-link"%>
                    <% end %>
          </li>
          
          <li class="nav-item">
              <% if user_signed_in? %>  
                    <%= link_to "Sign Out", '/users/sign_out'  , :class=>"nav-link"%> 
                  <% else %>  
                    <%= link_to "Sign In", '/users/sign_in'  , :class=>"nav-link"%>
                    <% end %>    
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div id="body" class role="main">
    <div class="wrapper hp-nus-wrapper">
      <div id="main" class="legal">
        <div class="contain">
          <div class="row">
            <div class="header">
              <div class="row">
                <div class="philosophy user-agreement">
                  <div class="description">
                    <h1>User Agreement</h1>

                    <div class="row">
                      <div class="text">
                        <p class="first">Welcome, and thanks for using LinkedIn! When you use our products and services, you're agreeing to our terms, so please take a few minutes to read over the User Agreement below.</p>
                        <p>Note: You are entering into a legally binding agreement.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="section">
                <h2 id="introduction">
                  1. Introduction
                    <span class="last-revised">
                      Last revised on September 12, 2013
                    </span>
                </h2>

                <div class="row first">
                  <div class="brief-copy">
                    <p>We are a social network for professionals.</p>
                  </div>
                  <div class="full-copy">
                    <p>
                      
                          Our User Agreement has been updated; <a onclick="LI.popup(this.href); return false;" href="/home/default">click here for a summary of the changes</a>.
                        
                    </p>
                    <h3>1.1. Purpose</h3>
                    <p>The mission of LinkedIn is to connect the world’s professionals to enable them to be more productive and successful. To achieve our mission, we make services available through our website, mobile applications, and developer platform, to help you, your connections, and millions of other professionals meet, exchange ideas, learn, make deals, find opportunities or employees, work, and make decisions in a network of trusted relationships and groups.</p>
                  </div>
                </div>

                <div class="row last">
                  <h3 class="copy-header">1.2. Scope and Intent</h3>
                  <div class="brief-copy">
                    <p>When you use LinkedIn, you are entering into a legal agreement and you agree to all of these terms.</p>
                    <p>You also agree to our Privacy Policy, which covers how we collect, use, share, and store your personal information.</p>
                  </div>
                  <div class="full-copy">
                    <p>
                      You agree that by registering on LinkedIn, or by using our website, including our mobile applications, developer platform, premium services, or other information provided as part of the LinkedIn services (collectively “LinkedIn” or the “Services”), you are entering into a legally binding agreement with LinkedIn Corporation, 2029 Stierlin Court, Mountain View, California 94043, USA if you reside in the United States, and with LinkedIn Ireland Limited, Gardner House, Wilton Plaza, Wilton Place, , Dublin 2, Ireland, if you reside outside the United States (“we,” “us,” “our,” and “LinkedIn”) based on the terms of this LinkedIn User Agreement and the LinkedIn <a href="/home/default">Privacy Policy</a>, which is hereby incorporated by reference (collectively referred to as the “Agreement”) and become a LinkedIn member (“Member”). If you are using LinkedIn on behalf of a company or other legal entity, you are nevertheless individually bound by this Agreement even if your company has a separate agreement with us. If you do not want to register an account and become a LinkedIn Member, do not enter into this Agreement, do NOT click “Join Now” and do not access, view, download or otherwise use any LinkedIn webpage, information or services. By clicking “Join Now” (or “Join LinkedIn” or similar), you acknowledge that you have read and understood the terms and conditions of this Agreement and that you agree to be bound by all of its provisions. By clicking “Join Now,” you also consent to use electronic signatures and acknowledge your click of the “Join Now” button as one. Please note that the LinkedIn User Agreement and <a href="/home/default">Privacy Policy</a> are also collectively referred to as LinkedIn’s “Terms of Service.”
                    </p>
                  </div>
                </div>
              </div>
              <div class="back-to-top">
                <a href="#main">Back to Top<span></span></a>
              </div>

              

            </div>
        </div>
      </div>
    </div>
  </div>

  
  </div>