<%= form_for Alumnisearch.new, :html=> { id: 'peopleSearchForm' } do |f|   %>
  <ol>
    
    <li class="keywords">
      <label for="advs-keywords">School</label>
      <%= f.text_field :school, :id=>"advs-keywords" %>
      <%#= select_tag :school , options_from_collection_for_select(User.group(:University).reject { |u| u.University.blank? }, :University, :University), :prompt => "Select Option", :id=>"advs-keywords" %>
    </li>
    
    <li class="firstName">
        <label for="advs-firstName">Attended</label>
        <span id="dates_attended" class="date_dropdown"></span>
          <%= select_tag :startdate, options_for_select([['1970', 1970], ['1971', 1971], ['1972', 1972], ['1973', 1973], ['1974', 1974], ['1975', 1975], ['1976', 1976], ['1977', 1977], ['1978', 1978], ['1979', 1979], ['1980', 1980], ['1981', 1981], ['1982', 1982], ['1983', 1983], ['1984', 1984], ['1985', 1985], ['1986', 1986], ['1987', 1987], ['1988', 1988], ['1989', 1989], ['1990', 1990], ['1991', 1991], ['1992', 1992], ['1993', 1993], ['1994', 1994], ['1995', 1995], ['1996', 1996], ['1997', 1997], ['1998', 1998], ['1999', 1999], ['2000', 2000], ['2001', 2001], ['2002', 2002], ['2003', 2003], ['2004', 2004], ['2005', 2005], ['2006', 2006], ['2007', 2007], ['2008', 2008], ['2009', 2009], ['2010', 2010], ['2011', 2011], ['2012', 2012], ['2013', 2013], ['2014', 2014], ['2015', 2015], ['2016', 2016], ['2017', 2017], ['2018', 2018], ['2019', 2019], ['2020', 2020]], 2011), :style =>"width:55px;" %>

          <span id="dates_separator">to</span>
          <%= select_tag "search", options_for_select([['1970', 'Nepal'], ['1971', 1971], ['1972', 1972], ['1973', 1973], ['1974', 1974], ['1975', 1975], ['1976', 1976], ['1977', 1977], ['1978', 1978], ['1979', 1979], ['1980', 1980], ['1981', 1981], ['1982', 1982], ['1983', 1983], ['1984', 1984], ['1985', 1985], ['1986', 1986], ['1987', 1987], ['1988', 1988], ['1989', 1989], ['1990', 1990], ['1991', 1991], ['1992', 1992], ['1993', 1993], ['1994', 1994], ['1995', 1995], ['1996', 1996], ['1997', 1997], ['1998', 1998], ['1999', 1999], ['2000', 2000], ['2001', 2001], ['2002', 2002], ['2003', 2003], ['2004', 2004], ['2005', 2005], ['2006', 2006], ['2007', 2007], ['2008', 2008], ['2009', 2009], ['2010', 2010], ['2011', 2011], ['2012', 2012], ['2013', 2013], ['2014', 2014], ['2015', 2015], ['2016', 2016], ['2017', 2017], ['2018', 2018], ['2019', 2019], ['2020', 2020]], 2015), :style =>"width:55px;" %>

    </li>
    
    <li class="lastName">
      <label for="advs-lastName">Country</label>
      <%= f.text_field :location, :id=>"advs-lastName" %>
      <%#= f.collection_select :location , User.group(:country).reject { |u| u.country.blank? }, :id, :country, :prompt => "Select Location" %>
    </li>
    



    <li class="country">
      <div class="actions">
        <%= f.submit 'Search' %>
      </div>
    </li>
  </ol>
  
<% end %>
